<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
      </div>
      <div class="col s12 center">
        <p class="white-text">Contactate con nosotros por medio de facebook, por correo electrónico o llamanos</p>
        <ul style="display: flex; justify-content: space-around">
          <li>
            <a class="grey-text text-lighten-3 hoverable" href="https://www.facebook.com/lucila.martinez.9235" target="_blank" style="font-size: 40px">
              <i class="mdi mdi-facebook-box"></i>
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3 hoverable" href="tel:+573133102680" style="font-size: 40px">
              <i class="mdi mdi-phone-outgoing"></i>
            </a>
          </li>
          <li>
            <a class="grey-text text-lighten-3 hoverable" href="mailto:lucimaria65@hotmail.com" style="font-size: 40px">
              <i class="mdi mdi-email"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      Souvenir Colombiano © All rights reserved
    </div>
  </div>
</footer>