<div class="container">
  <div class="row">
    <blockquote class="col s6">
      <p>Visitaste Colombia pero olvidaste comprar regalos para tus amigos en tu país?</p>
    </blockquote>

    <blockquote class="col s6">
      <p>Necesitas comprar recuerdos alucivos a Colombia al por mayor y con el mejor precio?</p>
    </blockquote>

  </div>
  <p class="flow-text"> Contactanos, podemos ayuarte, tenemos gran variedad de productos, desde llaveros, morrales wayuu, tejidos en crochet, realizamos
    envíos a cualquier parte del país y el exterior.</p>
</div>