/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Kaushan+Script');

.Kaushan{
    font-family: 'Kaushan Script', cursive;
}
body app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px;
}

app-root main {
    flex: 1 0 auto;
}